<div id="archive">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h3>Done To Do's</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h4 ng-if="!archivedTodos">You haven't done any To Do's. Stop slacking!</h4>
      <table class="table table-hover" ng-if="archivedTodos">
        <tr>
          <th></th>
          <th>To Do</th>
          <th></th>
        </tr>
        <tr ng-repeat="todo in todos | filter:{archived: true} track by $index" ng-class="{completed: todo.completed}">
          <td width="15px">
            <input type="checkbox" ng-model="todo.completed"/>
          </td>
          <td class="description">{{todo.description}}</td>
          <td width="15px">
            <button type="button" class="close" ng-click="removeTodo(todo)">
              <i class="fa fa-trash-o text-danger"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>