body {
  background-color: rgba(#000, .06);
  color: rgba(#000, .87);

  .container {
    padding-top: 30px;
  }
}

input.form-control, button.btn {
  border-radius: 2px;
}

@import './todos';
@import './nav';