#todos {

  h4 {
    margin-top: 45px;
  }

  table {
    margin-top: 45px;

    tr {
      &.completed {
        .description {
          color: rgba(#000, .26);
          text-decoration: line-through;
        }
      }

      th {
        background-color: #f5f5f5;
      }

      td {
        button {
          float: left;
          opacity: 0.6;

          &:hover, &:focus {
            opacity: 0.9;
          }
        }
      }
    }
  }
}